<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>
        <%=title%>
    </title>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/jquery.form.js"></script>
    <script src="vue/vue.js"></script>
    <script src="javascripts/login.js"></script>
    <script src="javascripts/pintuer.js"></script>
     <link rel="stylesheet" href="stylesheets/pintuer.css">
    <link rel="stylesheet" href="stylesheets/admin.css">
</head>

<body>
    <div class="bg"></div>
    <div class="container" id="login">
        <div class="line bouncein">
            <div class="xs6 xm4 xs3-move xm4-move">
                <div style="height:150px;"></div>
                <div class="media media-y margin-big-bottom">
                </div>
                <form id="login-form" method="post">
                    <div class="panel loginbox">
                        <div class="text-center margin-big padding-big-top">
                            <h1>简买后台管理中心</h1>
                        </div>
                        <div class="alert alert-yellow" style="text-align:center" v-if="toggle_alert">{{warn_msg}}</div>
                        <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                            <div class="form-group">
                                <div class="field field-icon-right">
                                    <input type="text" class="input input-big" id="username" name="username" placeholder="登录账号" data-validate="required:请填写账号" />
                                    <span class="icon icon-user margin-small"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field field-icon-right">
                                    <input type="password" class="input input-big" id="password" name="password" placeholder="登录密码" data-validate="required:请填写密码" />
                                    <span class="icon icon-key margin-small"></span>
                                </div>
                            </div>
                        </div>
                        <div style="padding:30px;"><input type="button" class="button button-block bg-main text-big input-big" value="登录" @click="login_submit"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>